doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Payment Auditor
  body
    for transaction, key in transactions
      table.table.table-striped
        thead
          tr(style='background: #60D5D1; color: white; font-size: 1.5em;')
            th(scope='col') #
            th(scope='col') CSV
            th(scope='col') JSON
            th(scope='col') STATUS
        tbody
          for key in Object.keys(JSON.parse(transaction))
            tr
              if key == 'ref'
                th(scope='row')
                  | Reference
                td #{JSON.parse(transaction).ref.csv}
                td #{JSON.parse(transaction).ref.json}
                td.status
                  if JSON.parse(transaction).ref.status == 'bad'
                    .transactionUnmatched unmatched
                  else
                    .transactionMatched matched
              if key == 'name'
                th(scope='row')
                  | Name
                td #{JSON.parse(transaction).name.csv}
                td #{JSON.parse(transaction).name.json}
                td.status
                  if JSON.parse(transaction).name.status == 'bad'
                    .transactionUnmatched unmatched
                  else
                    .transactionMatched matched
              if key == 'amount'
                th(scope='row')
                  | Amount
                td #{JSON.parse(transaction).amount.csv}
                td #{JSON.parse(transaction).amount.json}
                td.status
                  if JSON.parse(transaction).amount.status == 'bad'
                    .transactionUnmatched unmatched
                  else
                    .transactionMatched matched
              if key == 'acc'
                th(scope='row')
                  | Account
                td #{JSON.parse(transaction).acc.csv}
                td #{JSON.parse(transaction).acc.json}
                td.status
                  if JSON.parse(transaction).acc.status == 'bad'
                    .transactionUnmatched unmatched
                  else
                    .transactionMatched matched
              if key == 'time'
                th(scope='row')
                  | Time
                td #{JSON.parse(transaction).time.csv}
                td #{JSON.parse(transaction).time.json}
                td.status
                  if JSON.parse(transaction).time.status == 'bad'
                    .transactionUnmatched unmatched
                  else
                    .transactionMatched matched
              if key == 'src'
                th(scope='row')
                  | Payment Source
                td #{JSON.parse(transaction).src.csv}
                td #{JSON.parse(transaction).src.json}
                td.status
                  if JSON.parse(transaction).src.status == 'bad'
                    .transactionUnmatched unmatched
                  else
                    .transactionMatched matched
              if key == 'srcNo'
                th(scope='row')
                  | Payment Source Number
                td #{JSON.parse(transaction).srcNo.csv}
                td #{JSON.parse(transaction).srcNo.json}
                td.status
                  if JSON.parse(transaction).srcNo.status == 'bad'
                    .transactionUnmatched unmatched
                  else
                    .transactionMatched matched





    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
